body{
    text-align: center;
}

button{
    margin: 50px 10px 0 10px;
}

.App{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.App h2{
    display: flex;
    justify-content: center;
}

.container{
    padding:50px 0 100px 0;
    background-color: azure;
    border: solid black 1px;
}

.wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
}


.wrapper_div{
    width: 100px;
    height: 30px;
}

.forCss_div{
    width: 0px;
    height: 0;
    background-color: rgba(85, 107, 107,.2);
    border-radius: 5px;
    transition: .2s;
    
}

.text_p{
    margin-left: 5px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    width: 500px;
    height: 30px;
    cursor: pointer;
}

.wrapper_div:hover .forCss_div{
    width: 500px;
    height: 30px;
}

.text_p.active{
    color: gray;
    text-decoration: line-through;
}